<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://gmpg.org/xfn/1">
    <title>InTerra Deluxe - V{$DATA.version}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" media="screen,projection" href="{$DATA.admin}main.css" />    
    
    {if $template=="login.html"}    
        <link rel="stylesheet" type="text/css" media="screen,projection" href="{$DATA.admin}login.css" />  
    {else}
        <!-- ajax -->
        <script type="text/javascript" src="{$DATA.root}lib/ajax/ajaxRequest.js"></script>
        <script type="text/javascript" src="{$DATA.root}lib/prototype/prototype.js"></script>
        <script type="text/javascript" src="{$DATA.root}lib/ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src="{$DATA.root}lib/ckeditor/_samples/sample.js"></script>
        <!-- /ajax -->
        
        <!-- toolbar -->
        <script type="text/javascript" src="{$DATA.root}lib/dhtmlx/dhtmlxToolbar/codebase/dhtmlxcommon.js"></script>
        <script type="text/javascript" src="{$DATA.root}lib/dhtmlx/dhtmlxToolbar/codebase/dhtmlxtoolbar.js"></script>
        <link rel="stylesheet" type="text/css" href="{$DATA.root}lib/dhtmlx/dhtmlxToolbar/codebase/skins/dhtmlxtoolbar_dhx_skyblue.css" />
        <!-- /toolbar -->
        
        <!-- layout -->
        <script type="text/javascript" src="{$DATA.root}lib/dhtmlx/dhtmlxLayout/codebase/dhtmlxcommon.js"></script>
        <script type="text/javascript" src="{$DATA.root}lib/dhtmlx/dhtmlxLayout/codebase/dhtmlxcontainer.js"></script>
        <script type="text/javascript" src="{$DATA.root}lib/dhtmlx/dhtmlxLayout/codebase/dhtmlxlayout.js"></script>
        
        <link rel="stylesheet" type="text/css" href="{$DATA.root}lib/dhtmlx/dhtmlxLayout/codebase/skins/dhtmlxlayout.css" />
        <link rel="stylesheet" type="text/css" href="{$DATA.root}lib/dhtmlx/dhtmlxLayout/codebase/skins/dhtmlxlayout_dhx_skyblue.css" />
        <!-- /layout -->
        
        <!-- trees -->
        <link rel="stylesheet" type="text/css" href="{$DATA.root}lib/dhtmlx/dhtmlxTree/codebase/dhtmlxtree.css" />
        <script type="text/javascript" src="{$DATA.root}lib/dhtmlx/dhtmlxTree/codebase/dhtmlxcommon.js"></script>
        <script type="text/javascript" src="{$DATA.root}lib/dhtmlx/dhtmlxTree/codebase/dhtmlxtree.js"></script>   
        <!-- /trees -->
        
        <!-- grids -->
        <link rel="STYLESHEET" type="text/css" href="{$DATA.root}lib/dhtmlx/dhtmlxGrid/codebase/dhtmlxgrid.css">
        <script type="text/javascript" src="{$DATA.root}lib/dhtmlx/dhtmlxGrid/codebase/dhtmlxcommon.js"></script>
        <script type="text/javascript" src="{$DATA.root}lib/dhtmlx/dhtmlxGrid/codebase/dhtmlxgrid.js"></script>
        <script type="text/javascript" src="{$DATA.root}lib/dhtmlx/dhtmlxGrid/codebase/dhtmlxgridcell.js"></script>
        <!-- /grids -->
    {/if}
</head>

<body>
    <div id="content">
        {if $template == 'login.html'}
            {include file=$template}
        {else}
            <div id="header">
                <div id="logo">{$DATA.title}</div>
                <div id="user">
                    <a href="#" id="currentuser">a.kulikov@gmail.com</a> | <a href="{$DATA.root}logout/">Sign Out</a>
                </div>
            </div>
            
                        
            {include file=$template}
        {/if}
    </div>
</body>
</html>
