<div id="toolbarObj"></div>

<script>
    var toolbar = new dhtmlXToolbarObject("toolbarObj"); 
    toolbar.setIconsPath("{$DATA.root}lib/dhtmlx/dhtmlxToolbar/samples/common/imgs/");
    toolbar.loadXML("{$DATA.root}settings/admin/toolbar.xml");
</script>

<div id="parentId" style="position:absolute; width:100%; height:100%;"></div>


<div id="lmenu"></div>
<div id="mainlist">
    <table width="100%">
        <thead>
            <tr>
                <td width="30">&nbsp;</td>
                <td>Name</td>
                <td width="250">Keywords</td>
                <td width="150">Date</td>
                <td width="150">DateAuthor</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="5">RECENT STUFF</td>
            </tr>
            <tr>
                <td>P</td>
                <td><a href="#">Hacking your iPhone</a></td>
                <td><a href="#">iPhone</a>, <a href="#">Apple</a>, <a href="#">PHP</a></td>
                <td>Aug 4, '09</td>
                <td>Alexey Kulikov</td>
            </tr>
        </tbody>
    </table>
</div>

<script>     
    var dhxLayout = new dhtmlXLayoutObject("parentId", "2U");
    dhxLayout.cells("a").hideHeader();    
    dhxLayout.cells("a").setWidth(250);
    dhxLayout.cells("a").attachObject("lmenu");
    dhxLayout.cells("b").hideHeader();
    //dhxLayout.cells("b").progressOn();
    dhxLayout.cells("b").attachObject("mainlist");
</script>


<script>
    tree = new dhtmlXTreeObject({
        skin: "dhx_skyblue",
        parent: "lmenu",
        image_path: "{$DATA.root}lib/dhtmlx/dhtmlxTree/codebase/imgs/csh_bluebooks/",
        xml: "{$DATA.root}settings/admin/lmenu.xml"
    });
</script>