<div id="toolbarObj"></div>

<script>
    var toolbar = new dhtmlXToolbarObject("toolbarObj"); 
    toolbar.setIconsPath("{$DATA.root}lib/dhtmlx/dhtmlxToolbar/samples/common/imgs/");
    toolbar.loadXML("{$DATA.root}settings/admin/toolbar.xml");
</script>

<div id="parentId" style="position:absolute; width:100%; height:100%;"></div>


<div id="lmenu"></div>
<div id="mainlist">
    <table width="100%">
        <thead>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Name</td>
                <td>Keywords</td>
                <td>Author</td>
            </tr>
        </thead>
    </table>
</div>

<script>     
    var dhxLayout = new dhtmlXLayoutObject("parentId", "2U");
    dhxLayout.cells("a").hideHeader();    
    dhxLayout.cells("a").setWidth(250);
    dhxLayout.cells("a").attachObject("lmenu");
    dhxLayout.cells("b").hideHeader();
    dhxLayout.cells("b").progressOn();
</script>


<script>
    tree = new dhtmlXTreeObject({
        skin: "dhx_skyblue",
        parent: "lmenu",
        image_path: "{$DATA.root}lib/dhtmlx/dhtmlxTree/codebase/imgs/csh_bluebooks/",
        xml: "{$DATA.root}settings/admin/lmenu.xml"
    });
</script>